/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 20px 0;
}

/* Estilos para las filas de la tabla */
tr {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #e0e0e0;
}

/* Estilos para las celdas de encabezado */
th {
    background-color: #ff6347;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

/* Estilos para las celdas de datos */
td {
    padding: 10px;
    text-align: left;
}

/* Estilos para botones en las celdas de acciones */
td button {
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

td button:hover {
    background-color: #ff6347;
}

/* Estilo para el contenedor del formulario */
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* Estilo para el formulario */
form {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

/* Estilo para etiquetas */
label {
    display: block;
    font-weight: bold;
}

/* Estilo para campos de entrada de texto */
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilo para el botón */
button {
    background-color: #ff4500;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6347;
}

/* Alinear el botón al centro */
button[type="submit"] {
    margin: 0 auto;
    display: block;
}

